/**
 * Radius tokens
 */
:root {
  --radius-none: 0;
  --radius-xs: 3px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
  --radius-full: 9999px;

  --radius-card: var(--radius-xl);
  --radius-card-lg: var(--radius-2xl);
}
